*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background: url(/obrazky/sora-sagano-Dksk8szLRN0-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;

}

header{
    width: 100%;
    height: 85px;
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(66, 176, 193, 0.5);
    
}
header .logo a{
    text-decoration: none;
}

header .logo h1{
    flex:2;
    font-size: 3rem; /*velikost slova Akvaristika*/
    color:rgb(0, 0, 0); 
    margin-left: 50px; /*odsazeni Akvaristika*/
    text-decoration: none;


}

header ul{
    flex:2; 
    display: flex; /*dání odrážek vedle sebe*/
    justify-content:center; /*mezery mezi odrazkami*/
}

header ul li{
    list-style: none; /*odrazky pryc*/

}

header ul li a{         /*odrazky*/
    text-decoration:none;
    font-size: 1.5rem;
    color:rgb(96, 151, 200);
    font-weight: 100;
    padding: 15px;

}
header ul li a:hover{
    color:rgb(108, 69, 10);
}

header .menu{
    font-size: 2.5rem;
    display: none;

}

/*showacse*/

.showcase{
    
    padding-top: 15.5rem;
    height: 100%;
    margin:auto;
    color: #b11010;
    
}

.showcase .nadpisskalar{
    padding-left: 20px;
    padding-bottom: 15px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    padding-left: 10px;
}

.showcase h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 10px;
    
    letter-spacing: 2px;
}

.showcase .tlacitko{
    width: 160px;
    height: 40px;
    background: #00ff48;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.showcase .tlacitko a{
    text-decoration: none;
    color: #ff0000;
    transition: .3s ease;
}

.tlacitko:hover{
    background-color: #fff;
}

.showcase span{
    color: #000000;
    font-size: 65px
}

/*tri odrazky*/

#coze{
    background: #9b2bba;
}

#coze .items {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    margin: 0px;
}

#coze .item {
    text-align: center;
    padding: 1rem;

}

#coze .item h4{
    font-size: 2rem;
    
}

#coze .items .item i {
    background: rgb(220, 28, 28);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    
}

.text-center {
    text-align: center;
    
}

.m-heading{
    font-size: 3rem;
}
/*footer*/

#main-footer {
    margin: 0px;
    background-color: #4a15d1;
}

/*akvaristika obrazky*/
.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 88%, 32%);
    margin: 5px;
    width: 250px;
    margin-left: 6.4rem;
    
    
    
}
.gallery .description{
    padding: 10px;
    text-align: center;
    background-color:chocolate;
    
}
.gallery:hover{
    border: 1px solid hsl(312, 86%, 30%);
}
.gallery img{
    width: 100%;
    height: auto;
}

/*info skalar*/
.skalar{
    display: flex;
    padding-top: 20px;
    margin: 5px;
    width: 250px;
    margin-left: 6.4rem;
    
}


.skalar-content{
    margin-left: 30px;
    margin-top: 0px;
    
}
.skalar-content h2{
    font-size: 40px; /*nadpis upravy*/
}
.skalar-content p{
    font-size: 20px; /*podnadpis upravy*/
}

.skalar img{
    width: 100%;
    height: auto;
}

/*tabulka skalar*/
.table {
    height:14vw;
    width: 50%;
    grid-area: table;
    width: 35vw;
}

.table table {
    
    height: 100%;
    width: 100%;
    table-layout:auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
}

.table caption {
    caption-side: top;
    text-align: center;
}

.table th {
    
    background-color: #08551f;
    color: #d50e0e;
    padding: 5px;
}

.table td {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

/*respon*/

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;

    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  }


