*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background:url(./obrazky/sora-sagano-Dksk8szLRN0-unsplash.jpg)  center center/cover;
    background-size: cover;
    height: 100vh;
    background-position: center;

}

header{
    width: 100%;
    height: 85px;
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(66, 176, 193, 0.5);
    
}
header .logo a{
    text-decoration: none;
}

header .logo h1{
    flex:2;
    font-size: 3rem; /*velikost slova Akvaristika*/
    color:rgb(0, 0, 0); 
    margin-left: 50px; /*odsazeni Akvaristika*/
    text-decoration: none;


}

header ul{
    flex:2; 
    display: flex; /*dání odrážek vedle sebe*/
    justify-content:center; /*mezery mezi odrazkami*/
}

header ul li{
    list-style: none; /*odrazky pryc*/

}

header ul li a{         /*odrazky*/
    text-decoration:none;
    font-size: 1.5rem;
    color:rgb(96, 151, 200);
    font-weight: 100;
    padding: 15px;

}
header ul li a:hover{
    color:rgb(108, 69, 10);
}

header .menu{
    font-size: 2.5rem;
    display: none;

}

/*showacse*/

.showcase{
    
    padding-top: 15.5rem;
    height: 100%;
    margin:auto;
    color: #b11010;
    
}

.showcase .nadpisskalar{
    padding-left: 60px;
    padding-bottom: 15px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    padding-left: 10px;
}

.showcase h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    
    letter-spacing: 2px;

}
.showcase .podnadpis{
    padding-left: 20px;
    padding-bottom: 20px;
}
.showcase .tlacitko{
    width: 160px;
    height: 40px;
    background: #00ff48;
   
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.showcase .tlacitko a{
    text-decoration:none;
    color: #ff0000;
    transition: .3s ease;
}

.tlacitko:hover{
    background-color: #fff;
}

.showcase span{
    color: #000000;
    font-size: 65px
}

/*tri odrazky*/

#coze{
    background: #9b2bba;
}

#coze .items {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    margin: 0px;
}

#coze .item {
    text-align: center;
    padding: 1rem;

}

#coze .item h4{
    font-size: 2rem;
    
}

#coze .items .item i {
    background: rgb(220, 28, 28);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    
}

.text-center {
    text-align: center;
    
}

.m-heading{
    font-size: 3rem;
}
/*footer*/

#main-footer {
    margin: 0px;
    background-color: #4a15d1;
}

/*akvaristika obrazky*/
.gallery{
    display: inline-block;
    border: 1px solid hsl(0, 88%, 32%);
    margin: 5px;
    width: 250px;
    margin-left: 6.4rem;
    
    
    
    
}
.gallery .description{
    padding-top: 10px;

    text-align: center;
    background-color:rgb(24, 129, 226);
    
}

.gallery .description2{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #4e4d4e;
    background-color:rgb(24, 129, 226);
}
.gallery:hover{
    border: 1px solid hsl(312, 86%, 30%);
}
.gallery img{
    width: 100%;
    height: auto;
}

/*info skalar*/
.skalar{
    display: flex;
    padding-top: 20px;
    margin: 5px;
    width: 250px;
    margin-left: 6.4rem;
    
}


.skalar-content{
    margin-left: 30px;
    margin-top: 0px;
    
}
.skalar-content h2{
    font-size: 40px; /*nadpis upravy*/
}
.skalar-content p{
    font-size: 20px; /*podnadpis upravy*/
}

.skalar img{
    width: 100%;
    height: auto;
}

/*tabulka skalar*/
.table {
    height:14vw;
    width: 60%;
    grid-area: table;
    margin-left: 0.4rem;
    padding-left: 50px;
    padding-right: 50px;
}

.table table {
    
    height: 100%;
    width: 100%;
    table-layout:auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;
}

.table caption {
    caption-side: top;
    text-align: center;
}

.table th {
    
    background-color: #08551f;
    color: #d50e0e;
    padding: 5px;
}

.table td {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}

/*galerie*/



h5 {
    color: #fefae0;
    font-family: Arial;
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
    border-bottom: 10px double #bc6c25;
}

.galerie img {
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 7px solid #fefae0;
    filter:grayscale(100%);
    transition-duration: 1s;
}

.galerie img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}


.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

.stred {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*galerie rybicek, vybaveni, akvaria*/

  
  
  .heading {
      text-align: center;
      font-size: 2.0em;
      letter-spacing: 1px;
      padding: 40px;
      color: white;
  }
  
  .gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .popisek {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .popisek {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
 
  .opacity-low {
    opacity: 0.5;
  }
/*respon*/

@media only screen and (max-width: 700px) {
    .container img {width: 100px;}
    .table { width: 30%;}
    .container {padding-left:10px;}
    } 

  .zmena {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px, 220px));
    column-gap: 10px;
    row-gap: 10px;
}
.zmena img {
    width: 220px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

