*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background: url(sora-sagano-Dksk8szLRN0-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;

}

header{
    width: 100%;
    height: 85px;
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(193, 66, 185, 0.5);

}

header .logo{
    flex:2;
    font-size: 1.75rem; /*velikost slova Akvaristika*/
    color:blueviolet; 
    margin-left: 50px; /*odsazeni Akvaristika*/
       


}

header ul{
    flex:2; 
    display: flex; /*dání odrážek vedle sebe*/
    justify-content:center; /*mezery mezi odrazkami*/
}

header ul li{
    list-style: none; /*odrazky pryc*/

}

header ul li a{         /*odrazky*/
    text-decoration:none;
    font-size: 1.5rem;
    color:rgb(96, 151, 200);
    font-weight: 100;
    padding: 15px;

}
header ul li a:hover{
    color:rgb(108, 69, 10);
}

header .menu{
    font-size: 2.5rem;
    display: none;

}

/*showacse*/

.showcase{
    
    padding-top: 15.5rem;
    height: auto;
    margin:auto;
    color: #9b2bba;
    
}

.showcase .podnadpis{
    padding-left: 20px;
    padding-bottom: 15px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.showcase h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 10px;
    
    letter-spacing: 2px;
}

.showcase .tlacitko{
    width: 160px;
    height: 40px;
    background: #00ff48;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.showcase .tlacitko a{
    text-decoration: none;
    color: #ff0000;
    transition: .3s ease;
}

.tlacitko:hover{
    background-color: #fff;
}

.showcase span{
    color: #4a15d1;
    font-size: 65px
}

/*tri odrazky*/

#coze{
    background-color: #1b1017;
}

#coze .items {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    margin: 0px;
}

#coze .item {
    text-align: center;
    padding: 1rem;
}

#coze .items .item i {
    background: rgb(220, 28, 28);
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    
}
/*footer*/

#main-footer {
    margin: 0px;
    background-color: #4a15d1;
}